<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6297b6">  <td>19/05/19 15:56:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001Createleadverification.Testcase()[pri:0, instance:testcases.TC001Createleadverification@24b813]">Testcase</td> 
  <td>main@22043464</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>19/05/19 15:55:47</td>   <td>-34971</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Basepage.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC001Createleadverification@24b813]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@22043464</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>19/05/19 15:56:42</td>   <td>20885</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Basepage.logout()[pri:0, instance:testcases.TC001Createleadverification@24b813]">&lt;&lt;logout</td> 
<td>&nbsp;</td>  <td>main@22043464</td>   <td></td> </tr>
</table>
